<div class="header">
   <div class="site-tittle"><strong><i class="fa-regular fa-paper-plane"></i> Ajay</strong></div>
   <div class="directoy"> <strong> <%= tittle %> List</strong>   </div>
   <div class="hdroptions"><form action="/help" method="post">
   <button type="submit" class="btn">Help</button>   
   </form></div>




</div>
</div>